.home {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.home__section {
    display: flex;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* lower baner */

.lowerBanner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
    color: white;
    background-color: #111;
    font-size: 30px;
}


/* Photo banner */
.photo-banner {
    display: flex;
    justify-content: center;
}


.photo-card {
    box-sizing: border-box;
    padding-left: 75px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    height: 450px;
    width: 100%;
    background: linear-gradient(0deg, rgba(40, 40, 40), rgba(40, 40, 40));
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.4);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
    color: white;
}

.photo-card > h2 {
    font-size: 42px;
    font-weight: 500;
    margin-bottom: 10px;
}

.photo-card > p {
    font-size: 20px;
    line-height: 25px;
}

.photo-banner-btn {
    margin-top: 40px;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    font-size: 17px;
}


/* four sectionn */
.four-card {
    width: 25%;
    margin: 10px;
}

.four-card > p {
    font-weight: 500;
}

.four-card > img {
    width: 100%;
    border-radius: 15px;
}

.four-selection-container {
    display: flex;
    padding-bottom: 50px;

}