.time-table {
    margin-top: 100px;
}

.time-table-row {
    display: flex;

}

.time-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px;
    margin-bottom: 10px;
    width: 55px;
    height: 25px;
    border: 1px solid lightgray;
    border-radius: 7px;
    cursor: pointer;
    font-size: 14px;
}

.time-tile:hover {
    color: white;
    background-color: black;
}